.ServicosPrecos {
    width: 100%;
    text-align: center;
    
}

body{
    background-color: rgb(164, 192, 211);

}

.card-text {
    color: #007bff !important;
}

.list-group-item span:last-child {
    color: #007bff;
}